<FilesMatch "\.(php)$">
    SetHandler application/x-httpd-php
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^(POST|GET)$
    RewriteRule ^(assets/php/register.php)$ $1 [L]
</IfModule>
